.guest-row {
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.guest-row span {
  width: 150px; /* קביעת גודל אחיד לעמודות */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.guest-header {
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.add-guest {
  margin-top: 10px;
  background: transparent;
  color: #ff00ff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.add-guest:hover {
  color: #fff;
  transform: scale(1.1);
}
