/* עיצוב הכללי של ה-navbar */
.navbar {
    background-color: #4CAF50; /* צבע רקע ירוק */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a, .navbar button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* מעבר צבע כשעוברים עם העכבר */
  .navbar a:hover, .navbar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  
  /* עיצוב כפתור יציאה */
  .navbar button {
    background-color: #f44336;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  
  /* מציג את שם המשתמש באופן יותר בולט */
  .navbar span {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  /* עיצוב מותאם לגרסת מובייל */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar ul {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar li {
      margin: 10px 0;
    }
  }
  